*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'pokemon_gbregular';
}

@font-face {
    font-family: 'pokemon_gbregular';
    src: url('pokemon_gb-webfont.woff2') format('woff2'),
         url('pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex{
    background-color: #f44336;
    border: 1px solid black;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

/* UPPER SECTION - CIRCLES */

.upper-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.circles-section{
    display: flex;
}

.line-section{
    display: flex;
    margin-left: 15px;
    position: relative;
    bottom: 60px;
}

.line-section > img{
    width: 95vw;
}

.big-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin:1.5rem;
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.smaller-circle{
    background-color: #52aef7;
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.circles{
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 3rem;
    margin-left:15px;
    width: 20px;
    height: 20px;
}

.red{
    background-color: #e60c0f;
}

.yellow{
    background-color: #f7e00f;
}

.green{
    background-color: #0de536;
}

/* MID-SECTION - SCREEN */

.mid-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.screen{
    display: flex;
    flex-direction: column;
    background-color: #efefee;
    width: 90%;
    height: 280px;
    border: 1px solid black;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    clip-path: polygon(0 0, 90% 0%, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0 100%, 0% 20%);
    transform: rotate(180deg);
}

.top-screen{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.small-circle{
    background-color: #e40d0c;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin:5px;
    margin-top: 20px;
    border: 1px solid black;
}

.mid-screen{
    background-color: #dcdcde;
    width: 90%;
    height: 220px;
    margin-left:5%;
    border-radius:20px;
    padding: 0.5rem;
    overflow: auto;
    user-select: none;
}

.stat1{
    position: absolute;
    left: 128px;
    top: 60px;
}

.stat2{
    position: absolute;
    left: 128px;
    top: 95px;
}

.stat3{
    position: absolute;
    left: 128px;
    top: 130px;
}

.mid-screen > p {
    text-transform: capitalize;
    padding: 2px;
    cursor: pointer
}

.mid-screen > p:hover {
    background-color: #d5e4ef;
}

.back-btn{
    position: absolute;
    top: 220px;
    left: 40px;
}

/* LOWER SCREEN */

.lower-screen{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.lower-screen-left{
    padding: 5px;
}

.mid-circle{
    background: #e40d0c;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.weird-rotation{
    transform: rotate(180deg);
}

.bars{
    width: 100px;
    height: 5px;
    background-color: black;
    margin-top: 3px;
    border-radius: 1px;
}

.lower-section{
    display:flex;
    flex-direction: row;
}

.black-circle{
    margin: 2rem;
    width: 50px;
    height: 50px;
    background-color: #363737;
    border-radius: 25px;
    border: 1px solid black
}

.lsection1{
    width: 20%;
}

.lsection2{
    display: flex;
    flex-direction: column;
}

.two-bars{
    margin-top: 3rem;
    margin-left: 1rem;
    display:flex;
    flex-direction: row;
}

.red-bar{
    background-color: #f10f0d;
    border: 1px solid black;
    width: 45%;
    height: 8px;
    border-radius: 5px;
}

.gray-bar{
    background-color: #949694;
    border: 1px solid black;
    width: 45%;
    height: 8px;
    margin-left: 10px;
    border-radius: 5px;
}

.green-screen{
    background-color: #0cba23;
    margin-left: 15px;
    margin-top: 15px;
    width: 170px;
    height:90px;
    border-radius: 10px;
    border: 1px solid black;
}

.cross{
    margin: 3rem;
    background-color: #373636;
    width: 100px;
    height: 100px;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: rotate(45deg);
    border:1px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-circle{
    width: 10px;
    height: 10px;
    background-color: #474746;
    border-radius: 5px;
    border: 1px solid black;
}

/* mobile */

@media only screen and (max-width: 480px){
    .red-bar{
        background-color: #f10f0d;
        border: 1px solid black;
        width: 45%;
        height: 8px;
        border-radius: 5px;
    }
    
    .gray-bar{
        background-color: #949694;
        border: 1px solid black;
        width: 45%;
        height: 8px;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    .green-screen{
        background-color: #0cba23;
        margin-left: 15px;
        margin-top: 15px;
        width: 170px;
        height:90px;
        border-radius: 10px;
        border: 1px solid black;
    }
    
    .cross{
        margin-top: 3rem;
        margin-left: 30px;
        background-color: #373636;
        width: 70px;
        height: 70px;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transform: rotate(45deg);
        border:1px solid black;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .mini-circle{
        width: 10px;
        height: 10px;
        background-color: #474746;
        border-radius: 5px;
        border: 1px solid black;
    }

    .pokedex{
        background-color: #f44336;
        width: 100vw;
        border-radius: 0px;
        border: 0px;
    }
    .line-section{
        display: flex;
        margin-left: 15px;
        position: relative;
        bottom: 50px;
    }
    
    .line-section > img{
        width: 95vw;
    }
}